# # streamlit
# # langchain
# # langchain-community
# # langchain-core
# # langchain-pinecone
# # sentence-transformers
# # faiss-cpu
# # openai
# # tiktoken
# # huggingface-hub
# # pinecone-client


# # Primary Application Framework
# # streamlit
# # python-dotenv
# # pypdf2
# # python-docx
# # openai
# # langchain-openai
# # langchain-core
# # pinecone-client
# # langchain-community
# # sentence-transformers

# streamlit==1.39.0
# openai==1.47.0
# langchain==0.3.10
# langchain-core==0.3.24
# langchain-community==0.3.10
# langchain-pinecone==0.2.3
# pinecone==5.3.1
# numpy==1.26.4
# tiktoken
# pandas



streamlit==1.50.0
python-dotenv==1.1.1
PyPDF2==3.0.1
python-docx==1.2.0
openai==2.3.0
langchain-openai==0.3.35
langchain-core==0.3.79
pinecone==7.3.0
langchain-pinecone==0.2.13
langchain-community==0.3.31
sentence-transformers==5.1.2
aiohttp>=3.9.5
